{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    {% if error %}
        <div>{{ error.messageKey }}</div>
    {% endif %}

    <form action="{{ path('user_login') }}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="_password" required />

        <button type="submit">Login</button>
    </form>
{% endblock %}
